<!DOCTYPE	html>
<html	xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Clientes</title>
</head>
<body>
<h2 align="center">Detalhe do Cliente</h2>
<table class="container">
    <thead>
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>email</th>
        <th>TagID</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text=${client.name}></span></td>
        <td><span th:text=${client.cpf}></span></td>
        <td><span th:text=${client.address}></span></td>
        <td><span th:text=${client.phoneNumber}></span></td>
        <td><span th:text=${client.email}></span></td>
        <td><span th:text=${client.tagID}></span></td>
    </tr>
    </tbody>
</table>

<h3  class="container" align="right"><a href="/clients/" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Voltar</a></h3>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>