<!DOCTYPE	html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Clientes</title>
</head>
<body>
	<h1>Cadastro de Clientes </h1>
	<form method="post">
		Nome: <input type="text" value="" name="nome"/>
		Endereço: <input type="text" value="" name="endereco"/>
		Email: <input type="text" value="" name="email"/>
		Telefone: <input type="text" value="" name="telefone"/>
		CPF: <input type="text" value="" name="CPF"/>
		tagID: <input type="text" value="" name="tagID"/>
		
		<button type="submit">Salvar</button>
	</form>
</body>



</html>